@using Microsoft.AspNet.Identity;
@model localXchange.Models.homepageViewModel
@{
    ViewBag.Title = "Home";
}
<div class="row">
    @{ Html.RenderAction("_partialCategoryList", "Product"); }
    @{  Html.RenderAction("_partialProductList", "Product"); }
</div>