<div id="loggedInPartialDrop" class="preload">
    <ul id="accountMenu">
        <li>@Html.ActionLink("Manage Profile", "manageProfile", "Account")</li>
        <li>@Html.ActionLink("Account Preferences", "Index", "Manage")</li>
    </ul>
</div>