@using Microsoft.AspNet.Identity
@{
    Layout = null;
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" id="accountOption">Hello @User.Identity.GetUserName()!</a>
                @Html.Partial("_LoggedInPartial")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li id="loginListItem">
            <a href="#" id="openLoginForm" title="Login / Register">Login / Register</a>
            @{ Html.RenderAction("partialLogInForm", "Home"); }
        </li>
    </ul>
}