<div id="productPartialDrop" class="preload">
    <ul id="productPartialMenu">
        <li>@Html.ActionLink("Product List", "publicListing", "Product")</li>
        <li>@Html.ActionLink("Your Products", "Index", "Product")</li>
        <li>@Html.ActionLink("New Product", "createProductStepOne", "Product")</li>
    </ul>
</div>
