<div id="messageDropMenu" class="preload">
    <ul id="messageMenu">
        <li>@Html.ActionLink("In / Out Box", "Index", "messaging")</li>
        <li>@Html.ActionLink("New Message", "Create", "messaging")</li>
    </ul>
</div>

