<div id="categoryDropMenu" class="preload">
    <ul id="categoryMenu">
        <li>@Html.ActionLink("Category List", "Index", "productCategories")</li>
        <li>@Html.ActionLink("New Category", "Create", "productCategories")</li>
    </ul>
</div>
