@model localXchange.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    ViewBag.bodyClass = "accountMngmnt";
}
@using Microsoft.AspNet.Identity
<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<p class="text-danger">@ViewBag.UnErrorMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt><span>Username: [ </span><span id="changeUN" class="slideToggle">Change Username</span><span class="x" style="display:none;color:red;"> X </span> ]</dt>
        <dd>
            <div id="usernameForm">
                @{ Html.RenderAction("_changeUnPartial"); }
            </div>
        </dd>
        <dt>Password: [ <span id="changePW" class="slideToggle">Change Your Password</span><span class="x" style="display:none;color:red;"> X </span> ]</dt>
        <dd>
            <div id="changePwForm">
                @if (Model.HasPassword)
                {
                    Html.RenderAction("_changePwPartial");
                }
                else
                {
                    Html.RenderAction("_setPwPartial");
                }
            </div>
        </dd>        
    </dl>
</div>